<!-- Loading Spinner -->
@if (isLoading()) {
<div class="loader-container">
    <div class="loading-glow"></div>
    <p>Retrieving reference metrics from database...</p>
</div>
}
@if (!isLoading() && selectedBatch() == null) {
<!-- Empty State -->
<div class="empty-state">
    <div class="empty-icon">📂</div>
    <h3>No batch assigned to you yet</h3>
    <p>
        Kindly connect with your Admin.
    </p>
</div>
}

@if (!isLoading() && selectedBatch()) {
<div class="detail-info" style="margin-top: 1rem;">
    <div class="detail-item">
        <span class="label">Start Date:</span>
        <span class="value">{{ selectedBatch().startDate | date: 'dd-MM-yyyy' }}</span>
    </div>
    <div class="detail-item">
        <span class="label">Chicks Age</span>
        <span class="value">
            {{ getAgeInDays(selectedBatch().startDate, selectedBatch().closingDate) }}
            <small>(Days)</small>
        </span>
    </div>
    <div class="detail-item">
        <span class="label">Chicks Placed</span>
        <span class="value">{{ selectedBatch().housedChicks }}
            <small>#</small>
        </span>
    </div>
    <div class="detail-item">
        <span class="label">Total Mortality</span>
        <span class="value">{{ selectedBatch().totalMortality }}
            <small>#</small>
        </span>
    </div>
    <div class="detail-item">
        <span class="label">Mortality %</span>
        <span class="value">{{ (selectedBatch().totalMortality / selectedBatch().housedChicks * 100) | number:'1.2-2' }}
            <small>%</small></span>
    </div>
    <div class="detail-item">
        <span class="label">Live Birds Stock</span>
        <span class="value">{{ selectedBatch().liveBirdsStock }}
            <small>#</small>
        </span>
    </div>
    <div class="detail-item">
        <span class="label">Avg Body Weight</span>
        <span class="value">{{ selectedBatch().chicksAvgWeight | number: '1.0-0'}} <small>(GMS)</small></span>
    </div>
    <div class="detail-item">
        <span class="label">Total Birds Weight</span>
        <span class="value">{{ selectedBatch().liveBirdsTotalWeight | number: '1.0-0'}} <small>(KG)</small></span>
    </div>
    <div class="detail-item">
        <span class="label">Feed Received</span>
        <span class="value">{{ selectedBatch().totalBagsReceived }}
            <small>(BAGS)</small>
        </span>
    </div>
    <div class="detail-item">
        <span class="label">Feed Consumed </span>
        <span class="value">
            {{ selectedBatch().totalFeedConsumed || 0 }} <small>(KG)</small>~
            {{ (selectedBatch().totalFeedConsumed || 0) / 60 }} <small>(BAGS)</small>
        </span>
    </div>

    <div class="detail-item">
        <span class="label">Closing Stock</span>
        <span class="value">{{ (selectedBatch().totalBagsReceived || 0) - (selectedBatch().totalFeedConsumed || 0) / 60
            }}
            <small>(BAGS)</small>
        </span>
    </div>

    <div class="detail-item">
        <span class="label">Feed Cost/Chick</span>
        <span class="value">
            {{ (selectedBatch().totalFeedConsumed * selectedBatch().feedPricePerKg / selectedBatch().liveBirdsStock) |
            number: '1.0-0'
            }}
            <small>(₹)</small>
        </span>
    </div>
    <div class="detail-item">
        <span class="label">FCR</span>
        <span class="value">{{ selectedBatch().currentFCR }}</span>
    </div>
    <div class="detail-item">
        <span class="label">EPI Score</span>
        <span class="value">{{ selectedBatch().currentEPI }}</span>
    </div>
    <div class="detail-item">
        <span class="label">Batch Performance</span>
        <span class="value">{{ selectedBatch().batchStandardEPI }}</span>
    </div>


    <!-- <div class="detail-item">
        <span class="label">Batch Status:</span>
        <span class="value">{{ selectedBatch().batchStatus ? 'Active' : 'Closed' }}</span>
    </div> -->
</div>
}

@if(!isLoading() && selectedBatch()){
<div style="width: 100%; display: flex; gap: 10px; justify-content: center; align-items: center; margin-top: 1rem;  ">
    <button class="btn btn-primary" (click)="reloadBatchPerformance(selectedBatch().batchId)" [disabled]="isLoading()">
        Reload Data
    </button>
</div>
}

@if (!isDashboardLoading()) {

<p style="text-align: center; color: aliceblue; font-size: 0.5rem; margin-top: 0.5rem;">
    Scroll →→→→ to see other graphs
</p>

<div class="dashboard-content" style="margin-top: 1rem;">
    <div class="charts-grid">
        @for (chart of chartsData(); track $index) {
        <div class="charts-item jumbotron-card">
            <div class="chart-header">
                <h3 class="chart-title">{{ chart.chartTitle }}</h3>
                <!-- <p class="chart-subtitle">Overview and analytical breakdown</p> -->
            </div>

            <div class="chart-body">
                <div class="chart-wrapper">
                    <app-chart [type]="chart.type" [data]="chart.data" [options]="chart.options">
                    </app-chart>
                </div>
            </div>
        </div>
        }
    </div>
</div>
}